* {
  margin: 0;
  font-family: "Source Sans Pro" "helvetica neue" sans-serif;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=button], input[type=submit],
input[type=text], input[type=search], textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #A0ACC7;
  background-color: #EFF1F7;
  border-radius: 4px;
  font-size: 15px;
}

input[type=button], input[type=submit] {
  /*border: 1px solid #23345B */
  /*background-color: #8898BC */
  border-radius: 6px;
  border: 1px solid #93A5CC;
  background-color: #C5CFE5;
}

input[type=radio] {
  width: 1em;
}

textarea {
  font-size: 14px;
}

label {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #93A5CC;
  background-color: #C5CFE5;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a, .ui-panel-wrapper {
  color: white;
  text-shadow: none;
  /*font-family: $font */
  /*font-weight: 100 */
}

/* override jquery mobiles's */
.ui-input-btn input {
  border: 1px solid #23345B;
  background: #8898BC;
  border-radius: 6px;
}

.ui-input-search {
  border: 1px solid #A0ACC7;
  background: #EFF1F7;
  border-radius: 4px;
}

.ui-input-search input {
  font-weight: 400;
  font-size: 15px;
}

.ui-btn {
  font-family: "Source Sans Pro" "helvetica neue" sans-serif;
  font-weight: 400 !important;
}

.ui-page {
  background-color: #3C3C3C;
}

a:visited {
  color: #444444 !important;
}

.sticky {
  position: fixed;
  top: 0;
  height: 20px;
  width: 100%;
  z-index: 1;
}

.header {
  width: 100%;
  height: 90px;
  background-color: #FFF;
  background-image: url("../images/star.png");
  background-size: 130px;
  background-repeat: no-repeat;
  /*background-position: 40px; */
  background-position: 20%;
  color: #858585;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
.header span {
  letter-spacing: -2px;
  position: relative;
  top: 20px;
  /*font-family: $font-light */
}

.list_title {
  /*height: 20px */
  font-size: 18px;
  color: #444444;
  padding: 5px 15px;
  border-bottom: 1px solid #B2B2B2;
  background: -webkit-radial-gradient(130px 0, circle, rgba(255, 221, 0, 0.18) 0%, transparent 60%) #E4E9F4;
}
.list_title .sort_button {
  float: right;
  font-weight: 300;
}
.list_title .home_list_description {
  font-weight: 300;
  /*font-size: 15px */
  margin: 10px;
  display: none;
}

.underline {
  text-decoration: none;
  border-bottom: 1px solid rgba(105, 123, 255, 0.5);
  padding-bottom: 0;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

/************************** Home movie list ************************* */
#home_content .thumbnail {
  float: left;
}
#home_content .movie {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 84px;
  border-bottom: 1px solid black;
  color: white;
  /*overflow: hidden */
  z-index: 0;
  padding: 8px 10px 8px 70px;
}
#home_content .blur {
  position: absolute;
  display: block;
  height: 100px;
  left: 60px;
  right: 0;
  z-index: -1;
  top: 0;
  background-size: cover;
  background-position: 0px 30%;
  overflow: hidden;
  filter: blur(20px);
  -webkit-filter: blur(30px);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #575757;
  background-blend-mode: multiply;
}
#home_content .itemcontainer {
  position: relative;
  background-color: #353535;
  text-size: 20px;
  z-index: 0;
}

.listcontainer {
  text-shadow: none;
  font-weight: 200;
}

.title_row {
  margin-bottom: 5px;
}

.title {
  font-size: 25px;
  font-weight: 300;
}

.year {
  font-size: 6px;
  display: table-cell;
  white-space: nowrap;
}

.small_title {
  font-weight: 400;
}

.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home_drop_down {
  border-bottom: 1px solid black;
}

.home_lists {
  background-color: #2F2E2E;
}
.home_lists .on {
  background-color: #355035;
}
.home_lists .off {
  background-color: #533838;
}
.home_lists td {
  vertical-align: top;
  padding: 5px;
}
.home_lists .delete_td {
  vertical-align: bottom;
}

.home_list_item {
  font-size: 17px;
  margin: 5px;
  background-color: #494949;
  padding: 9px 16px;
  border-radius: 4px;
  font-weight: 300;
  color: #FFF;
}

.home_delete {
  background-color: #6F0000;
  padding: 10px 17px;
  border-radius: 5px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  margin: 5px;
}

/****************************** details ***************************** */
#details {
  background-color: transparent;
}

#details_content {
  font-weight: 300;
  font-size: 17px;
  /*text-shadow: none */
  /*color: white */
  /*margin: 10px 20px */
  padding: 17px 20px;
  position: inherit;
  background-color: #000;
  height: 100%;
  z-index: -1;
}
#details_content p {
  margin-bottom: 8px;
}
#details_content .title_row {
  line-height: 1.5em;
  /*margin-bottom: -5px */
}
#details_content .title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -2px;
}
#details_content .year {
  font-size: 12px;
}
#details_content .small_title {
  font-weight: 500;
}
#details_content .blur {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position-x: center;
  filter: blur(20px);
  -webkit-filter: blur(30px);
  background-color: #575757;
  background-blend-mode: multiply;
}
#details_content img {
  float: left;
  margin-right: 9px;
  margin-bottom: 3px;
}
#details_content blockquote {
  padding-left: 10px;
}
#details_content .release_dates {
  clear: both;
  margin-bottom: 0px;
}
#details_content .director {
  margin-bottom: 15px;
}
#details_content .director_name {
  font-weight: 500;
}

/******************************* search ****************************** */
.search_controls {
  font-weight: 300;
  font-size: 17px;
  /*text-shadow: none */
  color: black;
  /*margin: 10px 20px */
  padding: 10px 20px;
  background-color: #E0E6F2;
  background: -webkit-radial-gradient(130px 0, circle, rgba(255, 221, 0, 0.18) 0%, transparent 60%) #E4E9F4;
}

#search_content {
  /*input[type=button]
   * border: 1px solid #93A5CC
   * background: #C5CFE5 */
}
#search_content p {
  margin-bottom: 5px;
}
#search_content .thumbnail {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 5px;
}
#search_content .search_movie {
  border-bottom: 1px solid black;
  color: white;
  padding: 8px 20px;
  background-color: #353535;
  text-size: 20px;
}

.ui-input-btn, .ui-btn, input {
  font-weight: 400;
  font-family: "Source Sans Pro" "helvetica neue" sans-serif;
}

.not_found {
  margin: 20px;
}
.not_found p {
  margin-bottom: 1em;
}
.not_found .fancy {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}

/******************************** sort ******************************* */
#sort {
  /*background-color: white */
  background: -webkit-radial-gradient(130px 0, circle, rgba(255, 221, 0, 0.18) 0%, transparent 60%) #E4E9F4;
  color: #444444;
}
#sort label {
  border: none;
  background-color: transparent;
  border-radius: 0;
  /*border-bottom: 1px solid rgba(209, 219, 227, 0.35) */
}
#sort fieldset {
  /*border: 1px solid red */
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 10px;
}
#sort .sort_by {
  border: none;
}

/******************************* lists ****************************** */
#lists_content {
  margin: 15px;
}
#lists_content input[type=button] {
  border: 1px solid #303030;
  background: #4E4E4E;
  border-radius: 6px;
  color: #B8B8B8;
}

/******************************* footer ****************************** */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 370px) {
  .footer {
    -webkit-transform: scale(0.79);
    bottom: -7px;
  }
}
.footer img {
  display: block;
  width: 900px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
}
.footer .links {
  z-index: 1;
  width: 0;
  height: 0;
  left: 50%;
  position: absolute;
  bottom: 35px;
}
.footer .text {
  font-size: 18px;
  font-family: "Source Sans Pro" "helvetica neue" sans-serif;
  font-weight: 400;
  position: absolute;
  text-decoration: none;
  color: #444444;
}
.footer #footer_plus {
  font-size: 71px;
  font-weight: 100;
  bottom: -53px;
  left: -16px;
}
.footer #footer_lists {
  right: 126px;
}
.footer #footer_share {
  right: 55px;
}
.footer #footer_settings {
  left: 53px;
}
.footer #footer_help {
  left: 136px;
}
